<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='freelancehunt' content='2fd26399db02b21'>
	<!-- ADAPTIVITY -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000000">
	
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000000">
	
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-touch-fullscreen" content="yes">
	
	<!-- CONFIG -->
	<meta name="format-detection" content="telephone=no">
	<title>@@pagetitle - Portfolio</title>
	
	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" href="css/main.css"> </head>

<body @@if (bodyclass) { class=@@bodyclass }>