
.container {
	margin: 0 auto;
	min-width: 320px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.text-input {
	border: none;
	outline: none !important;
	-webkit-appearance: none;
	background: none;
	overflow: hidden;

	height: 65px;
	line-height: normal;
	color: #000;
	font-weight: 400;
	font-size: 16px;
	font-family: 'ProximaNova'; // SET FONT FAMILY
	
	border-radius: 3px;
	
	border: 1px solid #ccc;
	

	padding-left: 20px;
	padding-right: 0;

	width: 100%;
	background-color: #fff;

	&:-moz-placeholder {
		color: #879ea7;
	}
	&::-moz-placeholder { 
		color: #879ea7;
	}
	&:-ms-input-placeholder { 
		color: #879ea7;
	}
	&::-webkit-input-placeholder {
		color: #879ea7;
	}
}

.btn {
	position: relative;
	outline: none !important;
	border: none;
	cursor: pointer;
	text-decoration: none !important;
	background: none;
	-webkit-appearance: none;
	
	display: block;
  width: 140px;

  border-radius: 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background-color: #fff;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: all 0.3s ease-in-out;
  &:hover {

  }
	
	-webkit-transform: translateZ(0px);
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	height: 45px;
	line-height: 45px;
	
	border: none;
	
	vertical-align: middle;
	
	transition: all .3s ease-in-out;
	
	> * {
		line-height: 1;
	}
	
	&:active,
	&:focus,
	&:hover {
		outline: none;
		color: #fff;
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    transform: translateY(-7px);
	}
}

@mixin for-size($size) {
  @if $size == mobile {
    @media (max-width: 767px) { @content; }
  } @else if $size == tablet {
    @media (min-width: 768px) and (max-width: 1199px) { @content; }
  } @else if $size == desktop {
    @media (min-width: 1200px) { @content; }
  }
}


@include for-size(mobile) {
	.container {
		max-width: 500px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@include for-size(tablet) {
	.container {
		max-width: 900px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

@include for-size(desktop) {
	.container {
		width: 1170px;
		margin: 0 auto;
		max-width: 100%;
	}
}


